﻿<div>
    @{int i = 1;}
    @foreach (var groupset in ViewData["GroupSets"] as List<GroupSet>)
    {
        <h2>Group Set @i</h2>
        <section id="groupSection@(groupset.Id)" class="container">
            @Html.Partial("_GroupList", groupset.Id )
        </section>
        i++;
    }
</div>