﻿@model int
@{
    Setting setting = (Setting)ViewData["Setting"];
    List<GroupSet> groupSetList = setting.Groupsets.ToList();
    List<Group> groupList = groupSetList.Where(g => g.Id == Model).FirstOrDefault().Groups.ToList();
    groupList = groupList.Where(g => g.GroupSet.Id == Model).ToList();

    //List<Group> groupList = (List<Group>)ViewData["Groups"];
    //groupList = groupList.Where(g => g.GroupSetId == Model).ToList();
    List<MembersInGroups> membersInGroupList = (List<MembersInGroups>)ViewData["MembersInGroups"];
}

    <h3>Groups</h3>
    <div class="row">
        @for (int i = 0; i < groupList.Count; i++)
        {
            <div class="col-lg-3">
                <h4>Group @(i + 1)</h4>
                <div id="group@(i)" class="connectedSortable group">
                    @foreach( var memberInGroup in membersInGroupList.Where(mIG => mIG.Group == groupList[i]))
                    {
                    <div class="person ">
                        @memberInGroup.Member.Id. @memberInGroup.Member.Name
                    </div>
                    }
                </div>
            </div>
            if ((i + 1) % 4 == 0)
            {
                <div class="clearfix visible-lg-block"></div>
            }
        }
    </div>
