﻿@*<section id="personListSection" class="container clearfix">
    <ul class="connectedSortable personlist">
        @foreach (var item in ViewData["Persons"] as List<Person>)
        {
            <li class="ui-state-default person">@Html.DisplayFor(modelItem => item.Id). @Html.DisplayFor(modelItem => item.Name)</li>
        }
    </ul>
</section>*@

<section id="personListSection" class="container">
    <div class="connectedSortable personlist row">
        @foreach (var item in ViewData["Persons"] as List<Person>)
        {
        <div class="person col-md-3 @if (!item.Active){@Html.Raw("inactive").ToString()}">@Html.DisplayFor(modelItem => item.Id). @Html.DisplayFor(modelItem => item.Name)
                    <input type="checkbox" name="Active" value="Active" id="Active@(Html.DisplayFor(modelItem => item.Id))" @if (item.Active){@Html.Raw("checked").ToString()} onchange="ToggleActive(@Html.DisplayFor(modelItem => item.Id))">
        </div>
        }
    </div>
</section>

