﻿
@{
    ViewData["Title"] = "Index";
    Setting currentSetting = (Setting)ViewData["Setting"];
}

@*Temporary styling*@
<style>
    .group .person, .personlist .person {
        /*margin: 0 5px 5px 5px;*/
        padding: 5px;
        font-size: 1em;
        /*min-width: 100px;
        max-width: 200px;*/
        background-color: #E0E0E0;
        border-style: solid;
        border-width: 5px 2px;
        border-color: #ffffff;
    }

    .personlist .person.inactive{
        color: #888888;
    }

    #groupSection .group, #personListSection .personlist {
        border: 1px solid #eee;
        min-width: 200px;
        min-height: 80px;
        list-style-type: none;
        margin: 0;
        padding: 5px;
        float: left;
        margin-right: 10px;
    }
    .person input{
        display: inline;
        float: right;
    }
</style>

<form>
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" placeholder="Name" />
    </div> 
    <input type=hidden name="SettingId" id="SettingId" value=@currentSetting.Id>
    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return AddPerson();">Add Person</button>
</form>

<h2>Index</h2>

@Html.Partial("_PeopleList")
<div class="container">
<form>
    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return assignToGroups();">Auto assign to groups</button>
</form>
</div>
<section id="groupSetSection" class="container">
    @Html.Partial("_GroupSetList")
</section>