﻿@{
    ViewData["Title"] = "Home Page";
}

<h2>Groupy</h2>
<h4>Automatically create groups from a set of people</h4>
<br><br>
<h3>What works</h3>
<ul>
    <li>Add people</li>
    <li>Toggle active/non-active</li>
    <li>Create <strong>one</strong> groupset. Since relationdata is calculated but not saved to database</li>
    <li>Register/Login. But no real impact on app data at the moment.</li>
</ul>

