﻿@model IEnumerable<GroupyWeb.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<h4>Add Person</h4>

<h5>Name</h5>

<input type="text" id="name" />


<div class="editor-label">
    <br />
    <input class="btn-default" type="button" id="btnSave" value="Save" />
</div>


<div id="dataDiv">
    @{
        Html.RenderPartial("_PeopleList", Model);
    }
</div>

















<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Setting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Setting.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
